<div class="container" style="margin-top: 1rem;">
  <div class="row">
    <div class="col">

      <button class="btn btn-primary" (click)="onShowCard()">Show animation card</button>
      <div class="card hidden" style="width: 18rem;">
        <h3 class="card-header">Animations</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-9">
            </div>
            <div class="col-4">
              <button class="btn btn-primary" (click)="onAnimate()">Animate!</button>
            </div>
            <div class="col-4">
              <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <hr>
              <div class="my-visible" [@divState]="state" (@divState.start)="animationStarted($event)"
                (@divState.done)="animationEnded($event)"></div>
              <hr>
              <div class="my-visible" [@wildState]="wildState"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- card end -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      <app-shopping-edit></app-shopping-edit>
      <hr>
    </div>

    <div class="row">
      <div class="col">

        <ul class="list-group">
          <!-- For NGRX we wrap the ingredients in parantheses and add the pipe async -->
          <!-- That's because, when handled with NGRX, we don't have an array but an observable. -->
          <!-- We also add the .ingredients selector -->
          <!-- [@list1] is for animations. change to list2 for a different effect. -->
          <a [@list2] class="list-group-item" style="cursor: pointer;"
            *ngFor="let ingredient of (ingredients | async).ingredients; let i = index" (click)="onEditItem(i)">
            {{ ingredient.name }} ({{ ingredient.amount }})
          </a>
        </ul>
      </div>

    </div>
  </div>
</div>
