<div class="card mb-3" routerLinkActive="active" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="card-img-top">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"> {{ recipe.name }} </h4>
        <p class="card-text"> {{ recipe.description }} </p>
        <a class="stretched-link " style="cursor: pointer;" [routerLink]="[index]"></a>
      </div>
    </div>
  </div>
</div>
