<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">

      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div class="row alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>

      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div class="row">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
              ngModel name="email" required email>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ngModel name="password"
              required minlength="6">
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary"
              [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
            <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch to
              {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
